.button{
    -fx-background-color: #fff;
    -fx-background-radius: 30;
    -fx-font-size: 18;
    -fx-font-family: "DejaVu Sans";
    -fx-fill: black;
    -fx-font-weight: bold;
    -fx-pref-width: 177;
    -fx-pref-height: 45;
}

.button:hover{
    -fx-background-color: #c5c5c5;
}