.button{
    -fx-background-color: #03ad69;
    -fx-background-radius: 30;
    -fx-font-size: 14;
    -fx-font-family: "DejaVu Sans";
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 169;
    -fx-pref-height: 28;
}

.button:hover{
    -fx-background-color: #039151;
}