.button{
    -fx-background-color: #fca503;
    -fx-background-radius: 30;
    -fx-font-size: 14;
    -fx-font-family: "DejaVu Sans";
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 208;
    -fx-pref-height: 37;
}

.button:hover{
    -fx-background-color: #d68703;
}